# Build directories
build/
bin/
obj/

# Project specific ignores
Screenshots for Report/
*.zip
pico-sdk/
examples/

# Markdown files
# Ignore all markdown files, except READMEs
*.md
!README.md

# OS files
.DS_Store
Thumbs.db
